img {
	max-width: 100%;
}

* {box-sizing:border-box}

.slideshow-container {
  width: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media(max-width:1100px){
	.wrapper1{
		width:100%;
		padding:20px 0;
	}
	.wrapper{
		width:100%;
		text-align:center;
		margin-bottom:20px;
	}
	.topnav{
		width:100%;
		text-align:center;
		margin-bottom:20px;
	}
}
.nav-header{
	font-family:'Eb Garamond', serif;
	text-align: left;
	font-size:50px;
	letter-spacing:5px;
	background-image:url(/images/image3.jpg);
	margin:2px;
	padding: 25px;
	color:white;
	border
}
.logo{
	text-align:center;
	font-size:60px;
	color:white;
}
.nav-footer{
	font-size:20px;
}

.topnav a:hover{
		background-color:rgb(225,225,225);
		color:rgb(10,21,42);
}
.topnav{
	font-family:'Eb Garamond', serif;
	overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(10,21,42);
    justify-content: space-between;
	overflow:hidden;
}
.topnav a{
	color:white;
	text-align: center;
	padding:14px 16px;
	margin-bottom:15px;
	margin-top:15px;
	text-decoration:none;
	font-size:32px;
}

.column{
	float:left;
	width:65%;
}
.column-1{
	float:right;
	width:28%;
}
.column{
	content:"";
	display:table-column;
	clear:all;
}
h1{
	font-family:'EB Garamond', serif;
	color:rgb(15,21,32);
	margin:0;
	font-style: bold;
	font-size: 38px;
}

h2{
	font-family:'Eb Garamond', serif;
	color:rgb(15,21,32);
	margin:0;
	font-style: bold;
	font-style: italic;
	font-size: 26px;
}

p{
	font-family:'Eb Garamond', serif;
	color:rgb(15,21,32);
	margin:0;
	font-style: bold;
	font-size: 18px;
}

body{
	font-family:'Work Sans', sans-serif;
	font-size: 23px;
	background-color:rgb(15,21,32);
}
article{
	padding:20px;
}

.img-home{
	width: 100%;
	object-fit:cover;
	height: 100%;
	max-width: 100%;
}

.img-header{
	width: 350px;
	height: 100px;
}

.wrapper{
	width:100%;
	max-width:1100px;
	margin:0 auto;
	background-color: rgba(255,255,255,0.7);
	margin-top: 30px;
}
.footer-1{
	text-align:center;
	background-color:white;
	opacity:70%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
}
.copyright{
	color:rgb(10,21,42);
	padding:5px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-col-1 {
	flex-grow: 2
}

.flex-col-2 {
	flex-grow: 8
}


@media (max-width: 414px) {
	.flex-col-1 {
		flex-grow: 2
	}

	.flex-col-2 {
		flex-grow: 8
	}
}
